*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Source Sans Pro",sans-serif;
}
:root{
    --primary:#23A884;
    --secondary:#5C686E;
    --white:white;
    --black:black;
}
a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
span{
    color: var(--white);
    margin: 0px 20px;
    font-size: 20px;
}
header{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

/* nav-bar */

.topnav {
    margin: 0px 200px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* flex-direction: row; */
    justify-content: space-between;
    /* gap: 140px; */
}
.topnav .logo{
    color:var(--white);
    font-size: 30px;
    text-align: center;
}
.topnav .contacts{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* line-height: 20px; */
}
.topnav i{
    color: var(--primary);
}

.bottom-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px 80px; */
    padding: 10px 5px;
    position: relative;
    height: fit-content;
}
.bottom-nav a{
    /* color: #123a54; */
    color: var(--white);
    text-decoration: none;
}

.bottom-nav .sidebar .menu {
    display: flex;
    gap: 124px;
    /* text-align: center; */
}

.sidebar .close-btn{
    display: none;
    font-size: 30px;
}
.bottom-nav .menu-btn {
    display: none;
}

/* navbar -end */

.home .back-img{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./back-img1.png");
    max-width: 100%;
    height: 100vh;
    /* position: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    z-index: -1;
}

/* home section */

.home-info{
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    line-break: auto;
    text-align: center;color: var(--white);
}

.home-info a{
    color: var(--white);
    font-size: 14px;
    padding: 5px 10px;
    background-color: var(--primary);
    width: 20%;
}

.home .home-info h1{
    font-family: "Dosis",sans-serif;
    font-size: 60px;
}

/* home section end */

/* About section */

.about{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin-top: 30px;
}
.about-info{
    /* border: 1px solid; */
    width: 60%;
}


/* .about-info .about-item .about-head{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    margin-bottom: 15px;
}

.about-info .about-item .about-head a{
    color: var(--white);
    text-decoration: none;
}

.item .sub-menu{
    display: none;
} */

.about-item{
    width: 100%;
    margin-top: 20px;
}

.about-item .item a{
    background-color: var(--primary);
    width: 100%;
    display: block;
    color: var(--white);
    text-decoration: none;
    padding: 15px;
}
.about-item .item i{
    position: absolute;
    right: 602px;
    padding-top: 3px;
}

.about-item .item{
    margin-bottom: 20px;
}

/* About section end */


/* FOTTER START */

footer{
    background-color: var(--primary);
    padding: 0px 30px;
    height: 100%;
    color: var(--white);
}

footer .foot-top {
    display: flex;
    border-bottom:1px solid ;
    /* text-align: center; */
    justify-content: space-between;
}

.foot-top .foot-logo{
    color:var(--white);
    font-size: 30px;
}
.foot-top .foot-top-link{
    padding: 10px 0px;
    text-align: center;
}

.foot-top .foot-top-link a{
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    margin-right: 30px;
    /* margin-top: 15px; */
}

footer .foot-mid{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: space-around;
}

footer .foot-mid .foot-mid-item{
    /* width: fit-content; */
    /* border: 1px solid; */
    /* text-align: center; */
    padding: 30px 0px;
}
footer .foot-mid .foot-mid-item a{
    display: block;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
}
footer #item1{
    margin-right: 20px;
    line-break: auto;
}








/* FOOTER END */


@media(max-width:1025px){
     header .topnav{
        margin: 0px 0px;
        padding: 20px 0px;
        justify-content: center;
    }
    .topnav {
        justify-content: center;
    }
    .topnav .logo{
        display: flex;
        justify-content: center;
    }
    .bottom-nav .sidebar .menu {
        gap: 80px;
    }
    .home-info a{
        width: 20%;
    }
    .home .home-info h1{
        font-size: 40px;
    }

    .about .about-img{
        display: none;
    }

    .about-info{
        width: 100%;
    }
    .about-item .item i{
        right: 70px;
    }
}
@media(max-width:886px){
    span{
        font-size: 16px;
    }

    /* nav-bar */
    .sidebar {
        display: none;
    }
    .topnav{
        background-color: #123a54;
    }
    .topnav{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sidebar.responsive{
        display: block;
        float: right;
        position: fixed;
        width: 80%;
        top: 0;
        right: 0px;
        height: 100%;
        background-color: whitesmoke;
        animation-name: slidein;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
    @keyframes slidein {
        from {
            right: -400px;
         }
         to{
            right: 0px;
         }
    }
    .sidebar.respponsive.active{
        right: 0px;
        /* overflow: hidden; */
        z-index: index 1;
        opacity: 5;
    }
    
    .sidebar.responsive .menu{
        margin-top: 15px;
        width: 100%;
        position: relative;
        display: block;
    }
    
    .sidebar.responsive .menu .item{
        cursor: pointer;
        border-bottom: 1px solid lightgray;
    }
    
    .sidebar.responsive .menu .item a{
        color: #5C686E;
        text-decoration: none;
        line-height: 40px;
        margin-left: 30px;
        position: relative;
    }
    
    .sidebar.responsive .close-btn{
        
        padding: 15px;
        margin-bottom: 20px;
        text-align: end;
        font-size: 30px;
    }
    
    .sidebar.respponsive .close-btn i{
        color: var(--white);
        font-size: 18px;
    }

     header .bottom-nav{

        height: fit-content;
        background-color: var(--white);
    }
/* 
    .bottom-nav a{
        color: var(#5C686E) !important;
    } */
    /* .bottom-nav a */
    
    .bottom-nav .menu-btn{
        display: block;
        position: absolute;
        right: 10px;
    }
    .bottom-nav .menu-btn  i{
        font-size: 25px;
    }
    
    .sidebar.responsive .close-btn{
        display: block;
    }

    /* nav-bar end */

    .home-info{
        position: absolute;
        z-index: 0;
        top: 40%;
        left: 5%;
        right: 5%;
        line-break: auto;
        /* border: 10px solid white; */
        text-align: center;color: var(--white);
    }

    .home-info a{
        width: 35%;
    }

    .sidebar.responsive.active .home-info {
        display: none;
    }

    .home .home-info h1{
        font-size: 30px;
    }

    .about-info .about-item a{
        font-size: 15px;
    }

    .about-item .item i{
        right: 45px;
    }

    footer{
        padding: 0px 10px;
    }

    .foot-top .foot-logo {
        font-size: 18px;
        padding-top: 10px;
    }

    .foot-top .foot-top-link a{
        margin-right: 10px;
        font-size: 15px;
    }

    footer .foot-mid{
        text-align: center;
        grid-template-columns: repeat(2,1fr);
    }
}